
body {
	
	background-color: white;

}


#Ayodele {
      background-color:black;
	  color: white;
	  ;
      padding: 10px;
	  font-size:300%;
	  text-align: center;
 }
 
 
#1S {
	font-size:100;
	color;white;
 background-color:blue;
}